{% assign education = site.data.data.skills
    <h2 class="container-block-title">
      Skills
    </h2>

    {% for details in skills %}
    <div class="item">
      <h4 class="subject">{{ skills.subject }}</h4>
      <h5 class="details">{{ skills.details }}</h5>
    </div><!--//item-->
    {% endfor %}

  </div><!--//education-container-->
  {% else %}
  <section class="section skills-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      Skills
    </h2>

    {% for details in skills %}
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <h3 class="subject">{{ skills.subject }}</h3>
        </div><!--//upper-row-->

        <div class="details">{{ skills.details }}</div>
      </div><!--//meta-->

      {% if graduation.details %}
      <div class="details">
        {{ graduation.details | markdownify }}
      </div><!--//details-->
      {% endif %}

    </div><!--//item-->
    {% endfor %}

  </section><!--//section-->
  {% endif %}
{% endif %}
